# This timer unit triggers the stock_data_collector.service every evening at 5:00 PM.
[Unit]
Description=Run Stock Data Daily collector. It run continuously every 5 mins.

[Timer]
# The OnCalendar option specifies the trigger time for the timer.
OnBootSec=5min
OnUnitActiveSec=5min
# OnCalendar=*-*-* 10:30:00

# The Persistent=true will catch up on missed events.
Persistent=true

# This target represents the activation of timers. 
# Units wanted by this target are started when the timer conditions are met, such as a specific time or interval
[Install]
WantedBy=timers.target
