# This is a systemd service unit file execute the pending or failed job in the database for collection the Stock Data.
# It is triggered by the stock_job_exec_daily.timer every 5 mins.

[Unit]
# The Description field provides a brief description of the service.
Description=Service to execute the pending and failed job in the database for collection the Stock Data.
# The Wants directive ensures that the service is started together with the associated timer.
Wants=stock_job_exec_daily.timer

[Service]
# The User directive specifies the user under which the service should run.
User=ubuntu
# The WorkingDirectory directive sets the working directory for the service.
WorkingDirectory=/home/ubuntu/StockMarket/
# The ExecStart directive specifies the command to start the service.
ExecStart=/usr/bin/python3 /home/ubuntu/StockMarket/stk_data_regular_collector.py
# The Environment directive sets the environment variable(s) for the service.
Environment="PATH=/home/ubuntu/StockMarket/venv/bin"

# End of .service file.
